* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #FCFDFF;
    height: 100%;
}
h1 {
    font-weight: 400;
    color: #D8DCE8;
    margin:10px;
}
.card {
    box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
  border-radius: 20px;
  background-color: #FFFFFF;
  padding: 20px;
  margin:10px;
    
}
.cardContainer {
    height: 70vh;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
}

.chartButton {
    border: 0;
    background-color: #FFFFFF;
    font-size: large;
    color: #767676;
    cursor: pointer;
    margin:0;
    padding: 10px;
}
.chartButton:hover {
    background-color: #F6F9FD;
}
.chartButtonActive {
    border-bottom-width: 2px;
    border-bottom: solid;
    color: #82ADFF;
}
#sensorLabel {
    font-size: large;
    color: #767676;
}

#sensorIds {
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    color: #767676;
    border-color: #767676;
    font-size: large;
    margin-left:10px;
    margin-right:10px;
    cursor: pointer;
    outline: none;
}
#sensorIds:hover {
    background-color: #F6F9FD;
}
.dropdownContainer {
    display: flex;
    align-items: center;
}

.loader {
    font-size: xx-large;
    color: #767676;
}